In [ ]:
pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-4.0.32.tar.gz (280 kB)
     |████████████████████████████████| 280 kB 7.4 MB/s
Building wheels for collected packages: pyodbc
  Building wheel for pyodbc (setup.py) ... done
  Created wheel for pyodbc: filename=pyodbc-4.0.32-cp37-cp37m-linux_x86_64.whl size=287375 sha256=6f1c86736783008858f0cc009a5ee6272c2d6441ad4bb0c2ac1ba8c121c9ddfd
  Stored in directory: /root/.cache/pip/wheels/2e/9c/da/8652fd42e0f662015554f00a9e96fe4f438dfd1ef59787879e
Successfully built pyodbc
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.32

In [14]:
import pandas as pd
import  sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from datetime import datetime
import psycopg2
import pyodbc


engine = create_engine('sqlite:///chinook.db')
frameArtists = pd.read_sql_query("""select name from artists;""", 
con=engine.connect())
frameArtists

                                                  Name
0                                                AC/DC
1                                               Accept
2                                            Aerosmith
3                                    Alanis Morissette
4                                      Alice In Chains
..                                                 ...
270   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271                             Emerson String Quartet
272  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273                                      Nash Ensemble
274                              Philip Glass Ensemble

[275 rows x 1 columns]

In [34]:

df_customers = pd.read_sql_query("""SELECT FirstName, LastName, Company, Address, City, State, Country,PostalCode, Phone, Fax,Email FROM customers; """, con=engine.connect())
df_customers.head()
df_artists = pd.read_sql_query("""SELECT Name as NameArtist FROM artists;""", con=engine.connect())
df_albums = pd.read_sql_query("""SELECT Title as TitleAlbum FROM albums;""", con=engine.connect())
df_genres = pd.read_sql_query("""SELECT Name as NameGenre FROM genres;""", con=engine.connect())
df_employees = pd.read_sql_query("""SELECT LastName, FirstName, Title, BirthDate, HireDate,  Address, City, State, Country, PostalCode, Phone, Fax, Email FROM employees;""", con=engine.connect())

df_invoice_items = pd.read_sql_query("""SELECT UnitPrice, Quantity FROM invoice_items;""", con=engine.connect())
df_playlists = pd.read_sql_query("""SELECT Name as NamePlaylist FROM playlists;""", con=engine.connect())
df_location = pd.read_sql_query("""SELECT Address, City, COALESCE(State, 'N/A') as State, Country, COALESCE(PostalCode, 'N/A') as PostalCode FROM customers;""", con=engine.connect())

conn = sqlalchemy.create_engine('mssql+pyodbc://localhost/DW_Sales_Music?driver=SQL+Server+Native+Client+11.0')

df_location

                                     Address  ...  PostalCode
0            Av. Brigadeiro Faria Lima, 2170  ...   12227-000
1                    Theodor-Heuss-Straße 34  ...       70174
2                          1498 rue Bélanger  ...     H2G 1A7
3                           Ullevålsveien 14  ...        0171
4                              Klanova 9/506  ...       14700
5                              Rilská 3174/6  ...       14300
6       Rotenturmstraße 4, 1010 Innere Stadt  ...        1010
7                            Grétrystraat 63  ...        1000
8                        Sønder Boulevard 51  ...        1720
9                  Rua Dr. Falcão Filho, 155  ...   01007-010
10                        Av. Paulista, 2022  ...   01310-200
11                          Praça Pio X, 119  ...   20040-020
12                              Qe 7 Bloco G  ...   71020-677
13                            8210 111 ST NW  ...     T6G 2C7
14                       700 W Pender Street  ...     V6C 1G8
15                 1600 Amphitheatre Parkway  ...  94043-1351
16                           1 Microsoft Way  ...  98052-8300
17                              627 Broadway  ...  10012-2612
18                           1 Infinite Loop  ...       95014
19                      541 Del Medio Avenue  ...   94040-111
20                          801 W 4th Street  ...       89503
21                          120 S Orange Ave  ...       32801
22                           69 Salem Street  ...        2113
23                     162 E Superior Street  ...       60611
24                     319 N. Frances Street  ...       53703
25                       2211 W Berry Street  ...       76110
26                           1033 N Park Ave  ...       85719
27                               302 S 700 E  ...       84102
28                    796 Dundas Street West  ...     M6J 1V1
29                          230 Elgin Street  ...     K2P 1L7
30                     194A Chain Lake Drive  ...     B3S 1C5
31                        696 Osborne Street  ...     R3L 2B9
32                            5112 48 Street  ...     X1A 1N6
33                        Rua da Assunção 53  ...         N/A
34  Rua dos Campeões Europeus de Viena, 4350  ...         N/A
35                        Tauentzienstraße 8  ...       10789
36                          Berger Straße 10  ...       60316
37                       Barbarossastraße 19  ...       10779
38                             4, Rue Milton  ...       75009
39                            8, Rue Hanovre  ...       75002
40                       11, Place Bellecour  ...       69002
41                    9, Place Louis Barthou  ...       33000
42                          68, Rue Jouvence  ...       21000
43                           Porthaninkatu 9  ...       00530
44                         Erzsébet krt. 58.  ...      H-1073
45                          3 Chatham Street  ...         N/A
46                    Via Degli Scipioni, 43  ...       00192
47                     Lijnbaansgracht 120bg  ...        1016
48                              Ordynacka 10  ...      00-358
49                        C/ San Bernardo 85  ...       28015
50                               Celsiusg. 9  ...       11230
51                         202 Hoxton Street  ...      N1 5LH
52                              113 Lupus St  ...    SW1V 3EN
53                            110 Raeburn Pl  ...     EH4 1HH
54                         421 Bourke Street  ...        2010
55                        307 Macacha Güemes  ...        1106
56                           Calle Lira, 198  ...         N/A
57                       12,Community Centre  ...      110017
58                         3,Raj Bhavan Road  ...      560001

[59 rows x 5 columns]

In [35]:

df_customers.to_sql(name='dim_customers', con=conn, if_exists='append',index=False)
df_employees.to_sql(name='dim_employees', con=conn, if_exists='append',index=False)
df_genres.to_sql(name='dim_genres', con=conn, if_exists='append',index=False)
df_albums.to_sql(name='dim_albums', con=conn, if_exists='append',index=False)
df_artists.to_sql(name='dim_artists', con=conn, if_exists='append',index=False)
df_playlists.to_sql(name='dim_playlists', con=conn, if_exists='append',index=False)
df_location.to_sql(name='dim_location', con=conn, if_exists='append',index=False)
df_invoice_items.to_sql(name='dim_invoice_items', con=conn, if_exists='append',index=False)

DBAPIError: ignored